*,::before,::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 90%;
    width: 100%;
    margin: 0 auto;
}


nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px 0 0 0;
}

nav img {
    height : 100px;
}

.search {
    position: relative;
    margin: 20px 0;
}

.search input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 69px;
    background-color: #E7E7E7;
    border: none;
    padding: 0 20px;
    font-size: 18px;
    font-family: 'Lato';    
}

.search i {
    position: absolute;
    right: 2%;
    top: 40%;
    font-size: 18px;
    cursor: pointer;
}

.input_search{
    display: flex;
}
.input_search input {
    width: 170px;
    height: 69px;
    border: none;
    color: white;
    padding: 20px;
    font-size: 18px;
    font-family: 'Lato';
    font-weight: 700;
    border-radius: 5px;
}

.input_search .ingredients {
    position: relative;
    background-color: #3282F7;
}

.input_search .appareils {
    position: relative;
    background-color: #68D9A4;
}

.input_search .ustensiles {
    position: relative;
    background-color: #ED6454;
}

.tag_container {
    margin: 15px 0;
}

.tag_ingredient {
    display: flex;
    align-items: center;
    background-color: #3282F7;
    padding: 10px 18px;
    font-size: 14px;
    font-weight: 700;
    font-family: 'Lato';
    color: #E7E7E7;
    border-radius: 5px;
    text-align: center;
}

.tag_ingredient .icon {
    color: #E5E5E5;
    font-size: 20px;
    margin-left: 10px;
    cursor: pointer;
}

.tag_app {
    display: flex;
    align-items: center;
    background-color: #68D9A4;
    padding: 10px 18px;
    font-size: 14px;
    font-weight: 700;
    font-family: 'Lato';
    color: #E7E7E7;
    border-radius: 5px;
    text-align: center;
}

.tag_app .icon {
    color: #E5E5E5;
    font-size: 20px;
    margin-left: 10px;
    cursor: pointer;
}

.tag_ust {
    display: flex;
    align-items: center;
    background-color: #ED6454;
    padding: 10px 18px;
    font-size: 14px;
    font-weight: 700;
    font-family: 'Lato';
    color: #E7E7E7;
    border-radius: 5px;
    text-align: center;
}

.tag_ust .icon {
    color: #E5E5E5;
    font-size: 20px;
    margin-left: 10px;
    cursor: pointer;
}


.recipes_container {
    margin: 0 20px 50px 0 ;
}

.recipes_container input::placeholder{
    color: #FFFFFF;
    font-family: 'Lato';
}

.recipes_container i {
    position: absolute;
    display: none;
    top: 40%;
    right: 10%;
    color: black;
    z-index: 2000;
    font-size: 18px;
    cursor: pointer;

}

.ingr_container {
    display: none;
    background: #3282F7;
    border-radius: 5px;
}

.ingr_container ul {
    column-count: 3;
    list-style-type: none;
    color: #FFFFFF;
}

.ingr_container li {
    cursor: pointer;
    font-size: 18px;
    font-family: 'Lato';
}

.app_container{
    display: none;
    background: #68D9A4;
    border-radius: 5px;
}

.app_container ul {
    list-style-type: none;
    color: #FFFFFF;
}

.app_container li {
    font-size: 18px;
    font-family: 'Lato';
    cursor: pointer;
}

.ust_container {
    display: none;
    background-color: #ED6454;
}

.ust_container ul {
    list-style-type: none;
    color: #FFFFFF;
}

.ust_container li {
    font-size: 18px;
    font-family: 'Lato';
    cursor: pointer;
}

section {
    display: flex;
    flex-wrap: wrap;
}

section article {
    height: 364px;
    width: 380px;
    border-radius: 5px;
    background-color: #E7E7E7;
    margin-right: 46px;
    margin-bottom: 20px;

}

article .back {
    height: 180px;
    width: 100%;
    background-color: #c7bebe;
}

article .information {
    display: flex;
    justify-content: space-between;
    font-family: 'Lato';
    font-size: 18px;
    margin: 20px 20px 0 20px;
}

article .time {
    display: flex;
    align-items: center;
    font-weight: 900;
}

article .time i {
    margin: 0 6px;
    font-size: 20px;
}

article .description {
    display: flex;
    justify-content: space-between;
    margin: 20px 20px 0 20px;
    font-size: 12px;
}

article .recipes{
    display: flex;
    flex-direction: column;
}

article .recette{
    width: 40%;
    height: 85px;
    text-overflow: ellipsis;
    overflow: hidden;
}


.erreur_container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 380px;
    width: 364px;
    background-color: #E7E7E7;
}

.erreur {
    font-size: 12px;
    font-family: 'Lato';
}



